@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-font-sans: var(--font-geist-sans);
  --color-font-mono: var(--font-geist-mono);

  --color-isabelline: #f8f5f2;
  --color-whisperBlush: #f2dfdb;
  --color-linen: #f4ede3;
  --color-antiqueWhite: #f0e4d1;
  --color-dun: #cabaa7;
  --color-beaver: #a4907c;
  --color-deepBeaver: #7a6856;
  --color-rosyBrown: #c39994;
  --color-rosyBrownDark: #bd8f89;

  --color-softSageGreen: #a3b18a;
  --color-mutedClayRed: #d46a6a;
  --color-gentleBlueGray: #c3c7c5;

  --color-deepMocha: #5e5246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-isabelline);
  color: var(--color-deepMocha);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@utility rd-block {
  background-color: var(--color-linen);
  border-radius: 12px;
  padding: 8px 15px 8px 15px;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
